/* CUSTOM PROPERTIES*/
:root{
    --primario: #A39C83;
    --secundario:#635F50;
    --tercero:#E3D9B5;
    --cuarto:#F0E5C0;
    --quinto:#C9C1A1;
    --blanco:#FFF;
    --negro:#000;
    --fuentePrincipal: 'Shippori Mincho B1', serif;
    --fuenteSecundaria: 'Great Vibes', cursive;
}

/*IMPORTANTE*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

 /*GLOBALES*/
body{
    font-size: 1.6rem;
    line-height: 1.5; /*Interlineado 1.5 veces de la base de la fuente*/
    background-image: linear-gradient( to top, var(--negro) 0%, var(--secundario) 100%);
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1{
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuenteSecundaria);
}

h2, h3{
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}

p{
    font-family: var(--fuentePrincipal);
}

h1{ font-size: 4rem;    }
h2{ font-size: 3.2rem;  }
h3{ font-size: 2.4rem;  }

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none; /* quita las decoraciones de los enlaces (linea azul y morada)*/
    text-transform: uppercase; /* transformar letras en mayusculas*/
    font-weight: bold; /* bold o 700 es lo mismo */
    border-radius: .5rem; /* esto es para que el boton se vea redondo*/
    width: 90%; /* este sera el tamaño del boton de 768px hacia abajo por el media querie */
    text-align: center;
    border: none;
}

@media (min-width: 768px) { /* MEDIA QUERIE PARA EL BOTON */
    .boton{
        width: auto;
    }
}

.boton:hover{ /* sirve para editar cuando el cursor este arriba del boton */
    cursor: pointer;
}
/*FINAL DE LO IMPORTANTE*/

/*HEADER*/
.header{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url("../img/Cover_1.jpg");
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__titulo{
    font-size: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*FINAL DEL HEADER*/

/*FOOTER*/
.footer{
    max-width: 100%;
    background-color: var(--quinto);
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

@media (min-width: 768px) {
    .footer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 1280px) {
    .footer{
        grid-template-columns: 40% 30% 15% 15%;
        grid-template-rows: none;
    }
}

/*TEXTOS DEL FOOTER*/
.footer__texto1, 
.footer__texto2, 
.redsocial__nom{
    color: var(--negro);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    padding-top: 2rem;
}

.footer__redsocial{
    padding-top: 2rem;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    background-color: var(--cuarto);
}

/*ICONOS DEL FOOTER*/
.icon{
    height: 7rem;
    width: 7rem;
    background-color: var(--secundario);
    border-radius: 50%;
}
/*FINAL DEL FOOTER*/

/*NAVEGACION*/
.navegacion{
    background-color: transparent;
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--negro);
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco) !important; 
    font-size: 2.5rem;
    padding: 1rem 1rem;
    transition: background-color .5s ease;    
}

.navegacion__enlace:hover {
    background-color: gray;
}

.navegacion__enlace:last-of-type{
    padding-right: 2rem;
}
/*FIN DE LA NAVEGACIÓN*/

/*CONTENEDOR DE LOS DIV PARA LAS TARJETA*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 2rem;
}

/*CONENIDO DEL CONTENEDOR*/
.contenedor__titulo{
    background-color: var(--primario);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    padding-top: 50%;
}

.contenedor__texto{
    background-color: var(--primario);
    text-align: center;
    padding-top: 50%;
    /*margin-top: 5rem;*/
    margin-bottom: 0;
    margin-top: 0;
    color: var(--negro);
}
/*FIN DEL CONTENEDOR*/

/*GRID*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 5rem;
}

/*MEDIA QUERIE DEL GRID PARA MAYORES DE 768px*/
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /*ETAPA 3*/
    .ET3_1{
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }

    .ET3_2{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .ET3_3{
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

    .ET3_6{
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    .ET3_7{
        grid-column: 4 / 6;
        grid-row: 3 / 4;
    }

    .ET3_9{
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .ET3_10{
        grid-column: 4 / 6;
        grid-row: 4 / 5;
    }

        /*ETAPA 2*/
    .ET2_1{
        grid-column: 3 / 5;
    }

    /*ETAPA 4*/
    .ET4_4{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .ET4_2{
        grid-column: 4 / 6;
        grid-row: 1 / 2;
    }

    .ET4_7{
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }

    .ET4_8{
        grid-row: 3 / 4;
        grid-column: 4 / 6;
    }

    .ET4_9{
        grid-row: 4 / 5;
        grid-column: 1 / 6;
    }

    .ET4_11{
        grid-column: 2 / 4;
        grid-row: 5 / 6;
    }
}

/*MEDIA QUERIE PARA RESOLUCIONES MENORES DE 767px*/
@media (max-width: 767px) {
    .grid{
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .ET2_1{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .ET3_10{
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    }

    .ET4_2{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    
    .ET4_7{
        grid-row: 5 / 6;
        grid-column: 1 / 3;
    }
    
    .ET4_8{
        grid-row: 6 / 7;
        grid-column: 1 / 3;
    }
    
    .ET4_9{
        grid-row: 7 / 8;
        grid-column: 1 / 3;
    }
    
    .ET4_11{
        grid-row: 9 / 10;
        grid-column: 1 / 3;
    }

    .ET4_4{
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
}
/*FIN DEL GRID*/

/*TARJETAS DE ETAPA*/
.tarjeta{
    margin-bottom: auto;
    margin-top: auto;
}

.tarjeta__nombre{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    color: var(--blanco);
}

.tarjeta__imagen{
    transition: .3s ease;
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
}

.tarjeta__imagen:hover{
    transform: scale(1.3);
}
/*FIN DE TARJETAS DE ETAPA*/

/*PRIMER CONTENEDOR*/
.primerContenedor{
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--primario);
}

.primerContenedor__información{
    display: grid;
    grid-template-rows: 20% 80%;
}

.primerContenedor__informacion__titulo{
    background-color: var(--secundario);
}

.primerContenedor__informacion__texto{
    text-align: justify;
    padding: 2rem;
}

.primerContenedor__imagen{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/*MQ DEL PRIMER CONTENEDOR PARA RESOLUCIONES MENORES A 768px*/
@media (max-width: 768px) {
    .primerContenedor{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: none;
    }

    .primerContenedor__imagen{
        max-width: 100%;
        align-items: center;
    }

    .primerContenedor__imagen1{
        margin: 0 auto;
        max-width: 25rem;
    }

    .primerContenedor__imagen2{
        margin: 0 auto;
        max-width: 25rem;
    }
}

/*MQ PARA RESOLUCIONES MAS PEQUENAS QUE 540px*/
@media (max-width: 540px) {
    .primerContenedor{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: none;
    }

    .primerContenedor__imagen{
        max-width: 100%;
        align-items: center;
        grid-template-columns:none;
        grid-template-rows: repeat(2, auto);
    }

    .primerContenedor__imagen1{
        margin: 0 auto;
        max-width: 100%;
    }

    .primerContenedor__imagen2{
        margin: 0 auto;
        max-width: 100%;
    } 
}
/*FIN DEL PRIMER CONTENEDOR*/


/*CONTENEDOR DEL CAROUSEL*/
.contenedorCar{
    max-width: 110rem;
    margin: 0 auto;
}/*FIN DEL CONTENEDOR DEL CAROUSEL*/

/*SEGUNDO CONTENEDOR*/
.segundoContenedor{
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 60% 40%;
    background-color: var(--quinto);
    padding: 1rem;
}

/*MQ PARA RESOLUCIONES MENORES DE 480*/
@media (max-width: 480px) {
    .segundoContenedor{
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
}

.segundoContenedor__informacion{
    display: grid;
    grid-template-rows: 20% 80%;
    gap: 1rem;
}

.segundoContenedor__informacion__titulo{
    background-color: var(--secundario);
}

.segundoContenedor__video{
    background-color: var(--primario);
}

.segundoContenedor__informacion__texto{
    text-align: justify;
    background-color: var(--primario);
    padding: 2rem;
}

.video_yt{
    max-width: 100%;
}
/*FINAL DEL SEGUNDO CONTENEDOR*/

/*TERCER CONTENEDOR*/
.tercerContenedor{
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--primario);
}

.tercerContenedor__información{
    display: grid;
    grid-template-rows: 20% 80%;
}

.tercerContenedor__informacion__titulo{
    background-color: var(--secundario);
}

.tercerContenedor__informacion__texto{
    text-align: justify;
    padding: 2rem;
}

.tercerContenedor__imagen{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/*PARA MENORES DE 768*/
@media (max-width: 768px) {
    .tercerContenedor{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: none;
    }

    .tercerContenedor__imagen{
        max-width: 100%;
        align-items: center;
    }

    .tercerContenedor__imagen1{
        margin: 0 auto;
        max-width: 25rem;
    }

    .tercerContenedor__imagen2{
        margin: 0 auto;
        max-width: 25rem;
    }
}

/*PARA MENORES DE 540*/
@media (max-width: 540px) {
    .tercerContenedor{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: none;
    }

    .tercerContenedor__imagen{
        max-width: 100%;
        align-items: center;
        grid-template-columns:none;
        grid-template-rows: repeat(2, auto);
    }

    .tercerContenedor__imagen1{
        margin: 0 auto;
        max-width: 100%;
    }

    .tercerContenedor__imagen2{
        margin: 0 auto;
        max-width: 100%;
    } 
}
/*FINAL DEL TERCER CONTENEDOR*/

/*ENLACES INTERES*/
.enlacesInteres{
    max-width: 60rem;
    margin: 0 auto;
    background-color:var(--primario);
    padding: 2rem;
    margin-bottom: 2rem;
    border: solid;
    border-color: var(--blanco);
    border-radius: 10px;
}

.enlacesInteres__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--negro);
    font-size: 2.2;
    font-weight: bold;
}

li{
    text-decoration: none;
    list-style: none;
}
/*FIN DE ENLACES DE INTERES*/

/*FORMULARIO*/
.formulario{
    background-color: var(--primario);
    width: min(60rem, 100%); /*utiliza el valor mas pequeño*/
    padding: 2rem;
    margin: 0 auto; /*Usarlo para centrar cuando el padre no sea un display flex*/
    border-radius: 1rem;
    margin-bottom: 2rem;
}
    /* quitamos los bordes del fieldset*/
.formulario fieldset{
     border: none;
}

    /* edicion de la leyenda*/
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
}
    /* Esto sirve para seleccionar el hijo de un padre, lo que esta en () es para
    indicar el numero del hijo,
    se empieza de 1*/
.campo:nth-child(3), 
.campo:nth-child(4){
    grid-column: 1 / 3; /* Cuantas columnas va a abarcar*/
}
}
.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
    
.campo textarea{
    height: 18rem;
}
    
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
    
.botones{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.botonPaypal{
    justify-content: center;
    margin:0 auto;
    max-width: 80%;
}

@media (max-width: 768px) {
    .botones{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: none;
        gap: 2rem;
        justify-content: center;
    }

    .alinear-derecha{
        margin: 0 auto;
    }
}

.alinear-derecha{
    margin: 0 auto;
    max-width: 100%;
}
/*FIN DEL FORMULARIO*/

