/* CUSTOM PROPERTIES*/
:root{
    --primario: #A39C83;
    --secundario:#635F50;
    --tercero:#E3D9B5;
    --cuarto:#F0E5C0;
    --quinto:#C9C1A1;
    --blanco:#FFF;
    --negro:#000;
    --fuentePrincipal: 'Shippori Mincho B1', serif;
    --fuenteSecundaria: 'Great Vibes', cursive;
}

/*IMPORTANTE*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

 /*GLOBALES*/
body{
    font-size: 1.6rem;
    line-height: 1.5; /*Interlineado 1.5 veces de la base de la fuente*/
    background-image: linear-gradient( to top, var(--negro) 0%, var(--secundario) 100%);
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1{
    text-align: center;
    color: var(--negro);
    font-family: var(--fuenteSecundaria);
}

h2, h3{
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}

p{
    font-family: var(--fuentePrincipal);
}

h1{ font-size: 4rem;    }
h2{ font-size: 3.2rem;  }
h3{ font-size: 2.4rem;  }

/*HEADER*/
.header{
    display: flex;
    justify-content: center;
    background-color: var(--tercero);
}

.header__titulo{
    font-size: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*FOOTER*/
.footer{
    background-color: var(--quinto);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    color: var(--negro);
    text-align: center;
    font-size: 2.2rem;
}

/*MAIN*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 2rem;

}

/*NAVEGACION*/
.navegacion{
    background-color: transparent;
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.5rem;
    padding: 1rem 1rem;
    transition: background-color .5s ease;    
}

.navegacion__enlace:hover {
    background-color: var(--negro);
}

.navegacion__enlace:last-of-type{
    padding-right: 2rem;
}

/*GRID*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
}

/*TARJETAS DE ETAPA*/
.tarjeta{
    background-color: var(--secundario);
    max-width: 100%;
}

.tarjeta__imagen, 
.historia__imagen{
    max-width: 100%;
}

.tarjeta__nombre{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}

.tarjeta__imagen{
    transition: .3s ease;
}

.tarjeta__imagen:hover{
    transform: scale(1.5);
}

/*CONTENEDOR*/
.contenedor__titulo{
    background-color: var(--blanco);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 50%;
}

.contenedor__texto{
    background-color: var(--blanco);
    text-align: center;
    padding-top: 50%;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--negro);
}



/*INFORMACION*/
.historia{
    max-width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--quinto);
    display: grid;
    grid-template-columns: 15% 85%;
}

.historia__texto{
    text-align: justify;
    color: var(--negro);
    padding-left: 2rem;
    padding-right: 2rem;
}

.historia__imagen{
    border-radius: 50%;
}



