/* CUSTOM PROPERTIES*/
:root{
    --primario: #A39C83;
    --secundario:#635F50;
    --tercero:#E3D9B5;
    --cuarto:#F0E5C0;
    --quinto:#C9C1A1;
    --blanco:#FFF;
    --negro:#000;
    --fuentePrincipal: 'Shippori Mincho B1', serif;
    --fuenteSecundaria: 'Great Vibes', cursive;
}

/*IMPORTANTE*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

 /*GLOBALES*/
body{
    font-size: 1.6rem;
    line-height: 1.5; /*Interlineado 1.5 veces de la base de la fuente*/
    background-image: linear-gradient( to top, var(--negro) 0%, var(--secundario) 100%);
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1{
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuenteSecundaria);
}

h2, h3{
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal);
}

p{
    font-family: var(--fuentePrincipal);
}

h1{ font-size: 4rem;    }
h2{ font-size: 3.2rem;  }
h3{ font-size: 2.4rem;  }

/*HEADER*/
.header{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url("../img/Cover_1.jpg");
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__titulo{
    font-size: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*FOOTER*/
.footer{
    max-width: 100%;
    background-color: var(--quinto);
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

@media (min-width: 768px) {
    .footer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
    }
}

@media (min-width: 1280px) {
    .footer{
        grid-template-columns: 40% 30% 15% 15%;
        grid-template-rows: none;
    }
    
}

/*
@media (min-width: 1280px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 480px) {
    
}
*/


/*TEXTOS DEL FOOTER*/
.footer__texto1, 
.footer__texto2, 
.redsocial__nom{
    color: var(--negro);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    padding-top: 2rem;
}

.footer__redsocial{
    padding-top: 2rem;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    background-color: var(--cuarto);
}

/*ICONOS DEL FOOTER*/
.icon{
    height: 7rem;
    width: 7rem;
    background-color: var(--secundario);
    border-radius: 50%;
}

/*CONTENEDOR DE LOS DIV*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 2rem;
}

/*NAVEGACION*/
.navegacion{
    background-color: transparent;
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco) !important; 
    font-size: 2.5rem;
    padding: 1rem 1rem;
    transition: background-color .5s ease;    
}

.navegacion__enlace:hover {
    background-color: var(--negro);
}

.navegacion__enlace:last-of-type{
    padding-right: 2rem;
}

/*GRID*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 5rem;
}

/*MEDIA QUERIE DEL GRID*/
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }


    /*ETAPA 3*/
.ET3_1{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.ET3_2{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.ET3_3{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.ET3_6{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.ET3_7{
    grid-column: 4 / 6;
    grid-row: 3 / 4;
}

.ET3_9{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.ET3_10{
    grid-column: 4 / 6;
    grid-row: 4 / 5;
}

    /*ETAPA 2*/
.ET2_1{
    grid-column: 3 / 5;
}

/*ETAPA 4*/
.ET4_4{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.ET4_2{
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}

.ET4_7{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.ET4_8{
    grid-row: 3 / 4;
    grid-column: 4 / 6;
}

.ET4_9{
    grid-row: 4 / 5;
    grid-column: 1 / 6;
}

.ET4_11{
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}

/*
.img_dobleC{
    margin-bottom: auto;
    margin-top: auto;
}
*/
}

@media (max-width: 580px) {
    .grid{
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .ET2_1{
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .ET3_10{
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    }

    .ET4_2{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    
    .ET4_7{
        grid-row: 5 / 6;
        grid-column: 1 / 3;
    }
    
    .ET4_8{
        grid-row: 6 / 7;
        grid-column: 1 / 3;
    }
    
    .ET4_9{
        grid-row: 7 / 8;
        grid-column: 1 / 3;
    }
    
    .ET4_11{
        grid-row: 9 / 10;
        grid-column: 1 / 3;
    }

    .ET4_4{
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

}

/*TARJETAS DE ETAPA*/
.tarjeta{
    margin-bottom: auto;
    margin-top: auto;
}

.tarjeta__nombre{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    color: var(--blanco);
}

.tarjeta__imagen{
    transition: .3s ease;
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center;
    /*padding-top: 2rem;*/
}

.tarjeta__imagen:hover{
    transform: scale(1.3);
}

/*CONENIDO DEL CONTENEDOR*/
.contenedor__titulo{
    background-color: var(--blanco);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    padding-top: 50%;
}

.contenedor__texto{
    background-color: var(--blanco);
    text-align: center;
    padding-top: 50%;
    /*margin-top: 5rem;*/
    margin-bottom: 0;
    margin-top: 0;
    color: var(--negro);
}

/*INFORMACION*/
.historia{
    max-width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--quinto);
    display: grid;
    grid-template-columns: 15% 85%;
}

@media (max-width: 768px) {
    .historia{
        grid-template-rows: 15% 85%;
        grid-template-columns: none;
    }

    .historia__imagen{
        width: 30%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
}

.historia__texto{
    text-align: justify;
    color: var(--negro);
    padding-left: 2rem;
    padding-right: 2rem;
}

.historia__imagen{
    border-radius: 50%;
}

/*CONTENEDOR PRINCIPAL 1*/
.primerContenedor{
    margin: 0 auto;
    max-width: 120rem;
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
    background-color: var(--quinto);
    padding: 1rem;
}

@media (min-width: 769px) {
    .primerContenedor{
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(4, 5vw);
    }

    .primerContenedor__titulo{
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        background-color: var(--secundario);
        padding-top: 1rem;
    }
    
    .primerContenedor__texto{
        grid-column: 1 / 7;
        grid-row: 2 / 5;
        background-color: var(--primario);
        padding: 2rem;
        text-align: justify;
    }
    
    .primerContenedor__imagen1{
        grid-column: 7 / 9;
        grid-row: 1 / 5;
    }
    
    .primerContenedor__imagen2{
        grid-column: 9 / 11;
        grid-row: 1 / 5;
    }
}

@media (max-width: 768px) {
    .primerContenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10% 40% 25% 25%;
    }

    .primerContenedor__titulo{
        grid-column: 1/ 3;
        grid-row: 1 / 2;
        background-color: var(--secundario);
    }
    
    .primerContenedor__texto{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        background-color: var(--primario);
        padding: 2rem;
        text-align: justify;
    }
    
}

/*CONTENEDOR DEL CAROUSEL*/
.contenedorCar{
    padding-top: 5rem;
    max-width: 110rem;
    margin: 0 auto;
}

/*SEGUNDO CONTENEDOR*/
.segundoContenedor{
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 60% 40%;
    background-color: var(--quinto);
    padding: 1rem;
}

@media (max-width: 480px) {
    .segundoContenedor{
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
}

.segundoContenedor__informacion{
    display: grid;
    grid-template-rows: 20% 80%;
    gap: 1rem;
}

.segundoContenedor__informacion__titulo{
    background-color: var(--secundario);
}

.segundoContenedor__video{
    background-color: var(--primario);
}

.segundoContenedor__informacion__texto{
    text-align: justify;
    background-color: var(--primario);
    padding: 1rem;
}

.video_yt{
    max-width: 100%;
}

/*TERCER CONTENEDOR*/
.tercerContenedor{
    margin: 0 auto;
    width: 120rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 5vw);
    gap: 2rem;
    margin-top: 2rem;
    background-color: var(--quinto);
    padding: 1rem;
}

.tercerContenedor__titulo{
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    background-color: var(--secundario);
    padding-top: 1rem;
}

.tercerContenedor__texto{
    grid-column: 1 / 7;
    grid-row: 2 / 5;
    background-color: var(--primario);
    padding: 2rem;
    text-align: justify;
}

.tercerContenedor__imagen1{
    grid-column: 7 / 9;
    grid-row: 1 / 5;
}

.tercerContenedor__imagen2{
    grid-column: 9 / 11;
    grid-row: 1 / 5;
}
